/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: white;
  padding-left: 20px;
  padding-top: 60px;
  padding-right: 20px;

  .navbar_titles {
    font-size: 15px;
  }
  .greeting {
    font-size: 20px;
    text-align: right;
    color: #cc8e01;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.navbar_custom {
  background-color: #000000;
  border: none;

  .navbar-header {
    .navbar-brand {
      color: #f7f3ff;
      font-size: 40px;
      background-color: #000000;
      color: white;
    }
  }
  .collapse {
    .navbar_titles {
      color: white;
      font-size: 15px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }

  .navbar_right {
    background-color: #0085b7;
    .navbar_right_titles {
      color: #f7f3ff;
      font-size: 17px;
      .badge_custom {
        background-color: black;
        color: white;
        font-size: 13px;
        text-shadow: -1px 0 #000000, 0 1px black, 1px 0 black, 0 -1px black;
      }
    }
    .login {
      background-color: #000000;
    }
  }
  .orders_admin {
    text-align: right;
  }
}


