// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}
.total_price {
  font-size: 20px;
  color: green;
  text-align: center;
}

.cell {
  text-align: center;
}