// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove_item {
  font-size: 20px;
}
.order {
  text-align: center;
  font-size: 20px;
}
