// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-left: 20px;
  padding-right: 20px;
  .image_product {
    text-align: center;
  }
  .price {
    font-size: 20px;
    .price-number {
      color: green;
    }
  }
}



