// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.alert {
  text-align: center;
}

body {
    .page-header {
      text-align: center;
      h1 {
        font-family: 'Poiret One', cursive;
        font-size: 80px;
        margin-top: -40px;
        color: black;
      }
      border-color: black;
    }
   .product {
      height: 430px;
      text-align: justify;
      .description {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        font-size: 20px;
        text-align: right;
        color: green;
        text-decoration: underline;
      }
    }
   form {
     display: inline;
    }
   .image {
     max-height: 179px;
   }
}